<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<div th:include="header"></div>
<body>
<div class="col-md-offset-2 col-sm-8">
    <h2>Create Order</h2>
    <form class="form-horizontal" th:action="@{|/orders/${order.getId()}/add|}" method="get">
        <div class="form-group">
            <p>Select Product</p>
            <select name="product_id" id="products" class="form-control">
                <!--            <option>Select Product</option>-->
                <option th:each="product : ${products}" th:value="${product.id}"
                        th:text="${product.getName()}"></option>
            </select>
        </div>


        <div class="form-group">
            <input type="number" min="1" value="1" name="quantity" class="form-control"
                   id="quantity" aria-describedby="emailHelp"
                   placeholder="Enter quantity">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn" value="Add">
        </div>

    </form>

    <div th:include="order-items-table"></div>

    <div class="btn-group btn-group-lg" role="group">
        <form th:action="@{/orders/all}" method="get" class="btn-group">
            <div>
                <input class="btn btn-info" type="submit" value="Save">
            </div>
        </form>

        <form th:action="@{|/orders/${order.getId()}/delete|}" method="get" class="btn-group">
            <div>
                <input class="btn btn-info" type="submit" value="Don't save">
            </div>
        </form>
    </div>
</div>

</body>
</html>