<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<div th:replace="header"></div>
<body>
<div class="col-md-offset-2 col-sm-8">
    <h2 class="text-center">Hello my dear user</h2>
    <table class="table">
        <tr>
            <td class="text-center">
                <form th:action="@{/product/create}" method="get">
                    <input class="btn-info btn-lg" type="submit" value="Create new Product">
                </form>
            </td>
            <td class="text-center">
                <form th:action="@{/orders/create}" method="get">
                    <div>
                        <input class="btn-info btn-lg" type="submit" value="Create new Order">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>